@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
  font-family: Roboto sans-serif,  Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #404040;
  background-color: #F9FAFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #404040
}
h3 {
  text-align: left;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #404040;
  margin-bottom: 0;
  margin-top: 20px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F9FAFA;
}


#app {
  height: 100vh;
  width: 100vw;
}



button {
  padding: 0;
  border-radius: 4px;
  border: none;
  height: 30px;
  width: 68px;
  text-align: center;
  font: normal normal normal 11px/20px Roboto;
  letter-spacing: 0.55px;
  color: #ffffff;
  
  background-color: #429BF4;
  cursor: pointer;
}

button:hover {
  background-color: #3082D4
}

.head-line {
  height: 10px;
  width: 100vw;
  background-color: #0F0F0F;
}

.headers {
  width: 700px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.head-info {
  width: 94px;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0;
  line-height: 20px;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
}

.casino-card {
  display: flex;
  width: 700px;
  height: 93px;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 6px #00000029;
}

.casino-logo {
  width: 70px;
  margin-left: 20px;
  align-self: center;
}

.casino-info {
  width: 233px;
  margin-left: 15px;
}

.info-new {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
  color: #68CB6C;
  width: 30px;
  height: 18px;
  border: 1px solid #0000001E;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.info-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #429BF4;
  letter-spacing: 0;
  line-height: 18px;
  text-align: left;
}

.flag-rating-info {
  margin-top: 8px;
  height: 16px;
  display: flex;
  justify-content: flex-start;
}
.flag {
  padding: 0;
  text-align: center;
  height: 14px; 
  line-height: 0;
}

.rate {
  margin-left: 8px;
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #8f8f8f;
  letter-spacing: 0;
  line-height: 20px;
  align-self: center;
}

.stars {
  margin-left: 6px;
  align-self: center;
}

.casino-bonus {
  align-self: center;
  width: 239px;
  margin-left: 15px;
}

.bonus-spins {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  width: 118px;
  background: #F3F3F3;
  border-radius: 13px;
  color: #5E6166;
  letter-spacing: 0;
}

.bonus-deposit {
  margin-top: 8px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  background: #F3F3F3;
  border-radius: 13px;
  color: #5E6166;
  letter-spacing: 0;
}

.casino-button {
  margin-left: 20px;
  align-self: center;
}